yfinance>=0.2.40
pandas==2.2.0
numpy==1.26.4
plotly==5.18.0
streamlit==1.45.1
scikit-learn==1.4.0
statsmodels==0.14.1
prophet==1.1.5
tensorflow-cpu==2.15.0
keras==2.15.0
requests==2.31.0
python-dotenv==1.1.0
protobuf==4.25.3
cmdstanpy==1.2.0